:root {
  --white: #fff;
  --black: #1e2328;
  --red: #9E0F18;
  --dark-yellow: #D7C078;
  --dark-red: #822339;
  --darker-red: #430F01;
}

html, body {
  background-color: var(--black);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
  var(--black) url("../assets/img/death_star.jpg") no-repeat center fixed;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
  var(--black) url("../assets/img/death_star.jpg") no-repeat center fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
  var(--black) url("../assets/img/death_star.jpg") no-repeat center fixed;
  background-size: cover;
  color: #f5f5f5 !important;
}

.character {
  color: var(--black);
  position: relative;
}

.character ul {
  list-style: none;
  padding-left: 5px;
  max-width: 500px;
}

.character ul.has-modal li.info-modal-title {
  color: var(--red);
  position: relative;
  margin-bottom: 2px;
}

.character ul.has-modal li.info-modal-title::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 1px;
  height: 2px;
  background-color: var(--red);
  transition: all .2s ease-in-out;
}

.character ul.has-modal li.info-modal-title:hover::before {
  width: 25px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-family: "Star Wars";
  color: var(--dark-yellow);
  font-size: 1.5rem;
}

.app-title a {
  color: var(--dark-yellow);
  text-decoration: none;
}

.character-list-item {
  color: var(--white);
  margin-bottom: 4px;
  cursor: pointer;
  background-color: var(--dark-red);
  border-bottom: 4px solid var(--darker-red);
  transition: all .12s ease-out;
}

.character-list-item:hover {
  background-color: var(--darker-red);
}

.character-list-item:active {
  background-color: var(--darker-red);
  border-bottom: 2px solid var(--black);
}

.character-details h1 {
  color: var(--black);
  margin-left: -5px;
}

.loader {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-modal * {
  color: var(--white) !important;
  background-color: var(--black);
  border: 0;
}

.info-modal {
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 1);
}

.trigger-info-modal {
  cursor: pointer;
}

.favorites-link {
  color: var(--white) !important;
  text-decoration: none !important;
}

.favorite {
  color: var(--dark-yellow);
  cursor: pointer;
  position: relative;
  transition: color .12s ease-in-out;
}

.favorite:hover {
  color: #f74d4d;
}
